@charset "UTF-8";
/**
 * @file:      base.scss V1.1.0
 * @author:    caoyi
 * @update:    2015-8-9;
 * @copyright: 基于 Neat.css V1.1.0 normalize.css | MIT License
 * @doc: 文件
*/
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form {
  margin: 0; }

/**
 * 非大面积文字排版网站通常不需要列表项，如果需要可单独设置
 */
ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none; }

li {
  list-style-type: none; }

/* ==========================================================================
   链接
   ========================================================================== */
/**
 * 去除链接默认的下划线，提高文字可读性
 */
a {
  text-decoration: none;
  color: #000;
  cursor: pointer; }

/**
* 去掉 IE 10+ 点击链接时的灰色背景
*/
a:active {
  background-color: transparent; }

/**
 * 去掉点击时的焦点框，同时保证使用键盘可以显示焦点框
 */
a:active,
a:hover {
  outline: 0 none; }

/**
 * 统一 Chrome 和 Safari 的焦点框样式
 * Chrome 中 thin 关键字放大页面后焦点框不会放大 http://jsbin.com/ehakom/1
 * Firefox 中 box-shadow 会导致焦点框位置偏移，需用「outline-offset」修正
 *
 */
a:focus {
  outline: 1px dotted; }

/* ==========================================================================
   字体和基础排版
   ========================================================================== */
/**
 * 1.防止 iOS 横屏字号放大，同时保证在PC上 zoom 功能正常
 */
html {
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
  text-size-adjust: 100%; }

body {
  font-size: 14px;
  line-height: 1.8;
  text-align: center; }

/**
 * 所有 font-family 小写，存在空格的字体名加单引号
 * @default-font: 'helvetica neue', tahoma, \5B8B\4F53, sans-serif;
 * @heading-font: 'helvetica neue', tahoma, 'hiragino sans gb', stheiti,
    \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, 'wenquanyi micro hei', sans-serif;
 * @code-font: monaco, menlo, consolas, monospace;
 */
/**
 * 中文优先使用冬青黑体简体(OS X)、微软雅黑(Windows)和文泉驿微米黑(Linux)
 * 西文使用 tahoma
 * 1. 防止元素中「font-family」不能继承
 * 2. 西文字体和 OS X 字体写在前面
 * 3. Opera 12.1 之前版本不支持中文字体的英文名称
 * 4. 微软雅黑「\5FAE\8F6F\96C5\9ED1」,中易宋体「\5B8B\4F53」
 */
body,
button,
input,
select,
textarea {
  font: 300 1em/1.5 PingFang SC, Lantinghei SC, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans; }

/**
 * 中文小于 12px 可读性很差
 * 1. 统一 IE 6-7 中字体大小
 * 2. 统一 Firefox 4+，Safari 5 和 Chrome 中「section」和「article」内的字体大小
 */
h1, h2, h3, h4, h5, h6 {
  font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
  font-weight: 200; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

/* ==========================================================================
   嵌入元素
   ========================================================================== */
/**
 * 1. 去除 IE6-9 和 Firefox 3 中 a 内部 img 元素默认的边框
 * 2. 修正 IE8 图片消失bug
 * 3. 防止 img 指定「height」时图片高度不能按照宽度等比缩放，导致图片变形
      http://jsbin.com/aJoTUca/2
 * 4. 让图片支持响应式
 * 5. 去除现代浏览器图片底部的空隙
 * 6. 修复 IE7 图片缩放失真
 */
img {
  border: 0 none;
  /* 1 */
  width: auto\9;
  /* 2 */
  height: auto;
  /* 3 */
  max-width: 100%;
  /* 4 */
  vertical-align: top;
  /* 5 */
  -ms-interpolation-mode: bicubic;
  /* 6 */ }

/**
 * 1. 修正所有浏览器中字体不继承的问题
 * 2. 修正所有浏览器中字号不继承的问题
 * 3. 修正 Firefox 3+， Safari5 和 Chrome 中外边距不同的问题
 * 4. 改善在所有浏览器下的垂直对齐方式
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: baseline;
  /* 4 */
  *vertical-align: middle;
  /* 4 */ }

/**
 * 修正 IE7 随着字数增加边距不断增加的问题
 */
input,
button {
  *overflow: visible; }

/**
 * 统一各浏览器「text-transform」不会继承的问题
 * http://jsbin.com/iqecic/1/edit
 * http://tjvantoll.com/2012/07/10/default-browser-handling-of-the-css-text-transform-property/
 */
button,
select {
  text-transform: none; }

/**
 * 1. 避免 Android 4.0.* 中的 WebKit bug ，该bug会破坏原生的
   「audio」 和「video」的控制器
 * 2. 更正 iOS 中无法设置可点击的「input」的问题
 * 3. 统一其他类型的「input」的光标样式
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * 重置按钮禁用时光标样式
 */
button[disabled],
input[disabled] {
  cursor: default; }

/**
 * 1. 修正 IE 8/9 box-sizing 被设置为「content-box」的问题
 * 2. 移除 IE 8/9 中多余的内边距
 * 3. 移除 IE7 中多余的内边距(IE6 中任然存在)
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. 修正 Safari 5 和 Chrome 中「appearance」被设置为「searchfield」的问题
 * 2. 修正 Safari 5 和 Chrome 中「box-sizing」被设置为 「border-box」的问题
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * 1.移除 OS X 中 Safari5 和 Chrome 搜索框内侧的左边距
 * 2.如果需要隐藏清除按钮需要加上
   input[type="search"]::-webkit-search-cancel-button
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 移除 Firefox 3+ 的内边距
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 修正 Chrome 中 input [type="number"] 在特定高度和 font-size 时,
 * 下面一个箭头光标变成「cursor: text」
 * @demo: http://jsfiddle.net/FFXEc/
 * 动画演示：http://gtms04.alicdn.com/tps/i4/T18kd8FCtaXXc_FhcF-330-350.gif
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. 移除 IE6-11 中默认的垂直滚动条
 * 2. 禁止水平拖动，防止破坏布局
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */ }

/**
 * 修正 Chrome 30- option 中文字无法显示的问题
 * http://jsbin.com/avujas/1/edit
 */
select:disabled option:checked,
option:disabled:checked {
  color: #D2D2D2; }

/**
 * 修正 Safari 3+, Chrome 1+ Placeholder 居中问题
 */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    line-height: normal !important; } }
/**
 * 修正 Firefox 19+ Placeholder 设置了opacity 的问题
 */
input::-moz-placeholder, textarea::-moz-placeholder {
  color: darkGray;
  opacity: 1; }

/**
 * label 元素给予手型，暗示此处可点击
 */
label {
  cursor: pointer; }

/**
 * 统一 select 样式, Firefox 中有 padding:1px 0
 * http://jsbin.com/avujas/1/edit
 */
select[size],
select[multiple],
select[size][multiple] {
  border: 1px solid #AAA;
  padding: 0; }

/* ==========================================================================
   HTML5 元素
   ========================================================================== */
/**
 * 修正未定义为「block」的元素
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. 修正未定义为「inline-block」的元素
 * 2. 修正 Chrome、Firefox、Opera 中 「progress」元素 vertical-align 默认值不一致
 */
audio,
canvas,
video,
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * 1.防止现代浏览器将没有「controls」属性的 「audio」元素显示出来
 * 2.去掉 iOS 5 中多余的高度
 */
audio:not([controls]) {
  display: none;
  /* 1 */
  height: 0;
  /* 2 */ }

/**
 * 修复 IE 7/8/9，Firefox 3 和 Safari 4 中 「hidden」属性不起作用的问题
 * 在IE、Safari、Firefox 22- 中隐藏「template」元素
 */
[hidden], template {
  display: none; }

/**
 * 为可拖动元素添加拖动的光标
 * http://jsbin.com/apavod/1/edit
 */
[draggable] {
  cursor: move; }

/**
 * 居中 HTML5 dialog 元素
 * Chrome 31 支持，需开启 chrome://flags/#enable-experimental-web-platform-features
 * Chrome 28 之前、Firefox 中不支持 height:fit-content;
   https://src.chromium.org/viewvc/blink?revision=148314&view=revision
 * ::backdrop 定义遮罩样式
 * @demo: http://jsbin.com/iPACab/1
 */
dialog {
  border: 1px solid;
  padding: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content; }

dialog::backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3); }

/**
* 闭合浮动
* @Author:caoyi
* @Doc: http://www.cnblogs.com/mofish/archive/2012/05/14/2499400.html
*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1;
  /* IE6-7 触发 hasLayout */ }

.left {
  float: left; }

.right {
  float: right; }

.img30 {
  height: 30px; }

.none {
  display: none; }

.font999 {
  color: #999999; }

.shadow {
  border: 1px solid #E6E6E6;
  margin-top: 0px;
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.2); }

.page_center {
  margin-left: auto;
  margin-right: auto;
  width: 996px;
  height: auto;
  padding-right: 36px; }

@media (min-width: 1280px) {
  .page_center {
    width: 1216px; } }
.header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding-right: 36px;
  height: 60px;
  background-color: #1E89E0; }

.icon-logo {
  color: #fff; }

.topbar-logo {
  line-height: 60px;
  margin-right: 30px; }

.topbar-item {
  line-height: 60px;
  font-size: 16px;
  position: relative;
  color: #fff;
  width: 104px;
  text-align: center; }

@media (min-width: 1280px) {
  .topbar-item {
    width: 144px; } }
.location-search {
  height: 54px; }

.topbar-item:hover {
  background: #0c77d1; }

.topbar-item:active {
  background: #006bc7; }

.banner {
  background: #ccc;
  position: relative;
  height: 81px;
  overflow: hidden; }
  .banner .banner-imgs {
    position: absolute; }
  .banner .img-indexs {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0px; }
    .banner .img-indexs .page-index {
      display: inline-block;
      width: 15px;
      background-color: rgba(255, 255, 255, 0.5);
      color: #999;
      font-size: 12px;
      padding: 0px 1px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px; }
    .banner .img-indexs .page-index.active {
      background-color: rgba(255, 102, 0, 0.8);
      color: #FFF;
      font-weight: 700; }

@media (min-width: 1280px) {
  .banner {
    height: 98px; }
    .banner img {
      height: 98px; } }
.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: -295px;
  background-color: #504D53;
  width: 330px;
  transition: transform 0.3s ease-in-out 0s;
  z-index: 7; }

.page_place {
  line-height: 40px;
  font-size: 18px;
  border-bottom: 1px solid #E6E6E6; }

.page_place-item {
  color: #666;
  padding: 0px 20px;
  display: inline-block; }

.page_place-item.focus {
  color: #0089DC;
  border-bottom: 3px solid #0089DC;
  margin-bottom: -2px; }

.footer {
  margin-top: 50px;
  border-top: 1px solid #EEE;
  background-color: #f7f7f7;
  margin-top: 50px;
  border-top: 1px solid #eee; }

.footer-contect, .footer-link, .footer-mobile {
  float: left;
  width: 15%;
  margin-top: 30px;
  text-align: left; }

.footer-contect a:hover, .footer-link a:hover, .footer-mobile a:hover {
  color: #333;
  text-decoration: underline; }

.footer-contect-item [class^=icon-]:hover, .footer-contect-item > a:hover {
  text-decoration: none; }

.footer-mobile {
  float: right; }

.footer-link-title {
  font-size: 14px;
  line-height: 30px; }

.footer-contect-item, .footer-link-item {
  color: #999;
  display: block;
  line-height: 24px; }

.footer-link-item {
  width: 50%;
  font-size: 12px; }

.footer-contect {
  padding-left: 3%;
  border-left: 1px #e6e6e6 solid;
  width: 23%;
  padding-right: 10px; }

.footer-contect-icon:before {
  float: left;
  width: 30px;
  height: 30px;
  color: #666;
  font-size: 28px; }

.footer-contect-item {
  margin-bottom: 12px;
  color: #666;
  font-size: 14px; }

.footer-contect-item [class^=icon-] {
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  display: inline-block; }

.footer-contect-item [class^=icon-]:before {
  font-size: 24px;
  color: #ccc;
  vertical-align: middle; }

.footer-contect-item .icon-renren:before {
  font-size: 30px; }

.footer-contect-item .icon-wechat {
  margin-left: 5px; }

.footer-contect-item .icon-wechat .dropbox {
  display: none; }

.footer-contect-item .icon-wechat:hover:before {
  color: #77d175; }

.footer-contect-item .icon-wechat:hover .dropbox {
  display: block; }

.footer-contect-item .icon-weibo:hover:before {
  color: #fb545f; }

.footer-contect-item .icon-renren:hover:before {
  color: #47a9f7; }

.footer-contect-dropbox {
  bottom: 30px;
  left: -60px;
  text-align: center; }

.footer-contect-dropbox img {
  width: 130px;
  height: 130px; }

.footer-contect-dropbox:before {
  left: 65px;
  border-color: #fff transparent transparent;
  z-index: 2; }

.footer-contect-dropbox:after {
  content: "";
  position: absolute;
  left: 65px;
  bottom: -11px;
  border: 5px solid #fff;
  border-color: #ccc transparent transparent;
  z-index: 1; }

.footer-mobile {
  width: 265px; }

.footer-mobile-icon {
  width: 90px;
  height: 90px;
  margin-right: 20px;
  float: left; }

.footer-mobile-content {
  margin-left: 90px; }

.footer-mobile-content h3 {
  font-size: 16px;
  color: #333;
  font-weight: 700;
  line-height: 30px; }

.footer-mobile-content p {
  font-size: 12px;
  color: #666;
  margin: 3px 0 10px; }

.footer-mobile-content a {
  display: inline-block;
  background: #fff;
  border: 1px solid #dedede;
  font-size: 12px;
  color: #666;
  padding: 0 4px;
  line-height: 24px; }

.footer-mobile-content a:hover {
  color: #333; }

.footer-mobile-content .icon-android:before, .footer-mobile-content .icon-phone:before {
  font-size: 18px;
  vertical-align: sub;
  margin-right: 3px; }

.footer-mobile-content .icon-android:before {
  color: #bcd07a; }

.footer-copyright {
  font-size: 12px;
  clear: both;
  padding-top: 60px;
  color: #999;
  text-align: center; }

.footer-copyright a {
  color: inherit; }

.footer-copyright a:hover {
  color: #333;
  text-decoration: underline; }

.footer-police {
  padding: .5em 0;
  text-align: center;
  font-size: 14px; }

.importantnotification div {
  margin-top: 8px;
  line-height: 40px;
  padding: 0 10px;
  background-color: #fffdee;
  border: 1px solid #ffe4b9;
  font-style: normal;
  color: #f63;
  font-size: 16px; }

body, html {
  background: #f7f7f7; }

html, html *, html :after, html :before {
  box-sizing: border-box; }

[class*="icon-"] {
  font-family: eleme;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none; }

/**
  eot：仅在老版本中的IE使用。
  ttf：浏览器支持相对好的多。
  svg：苹果浏览器支持的比较好，其他浏览器也在渐渐的支持。
  woff：转为web字体指定的字体格式标准，被新版本浏览器广泛支持。
*/
@font-face {
  font-family: "eleme";
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url("../resource/eleme.4b3045.woff2") format("woff2"), url("../resource/eleme.aadd9e.woff") format("woff"), url("../resource/eleme.deeaed.ttf") format("truetype"); }
.icon-uniE65D:before {
  content: ""; }

.icon-uniE65E:before {
  content: ""; }

.icon-renren:before {
  content: ""; }

.icon-weibo:before {
  content: ""; }

.icon-wechat:before {
  content: ""; }

.icon-profile-right-arrow:before {
  content: ""; }

.icon-profile-left-arrow:before {
  content: ""; }

.icon-profile-email:before {
  content: ""; }

.icon-profile-phone:before {
  content: ""; }

.icon-visit-history:before {
  content: ""; }

.icon-circle-check:before {
  content: ""; }

.icon-line-order:before {
  content: ""; }

.icon-line-message:before {
  content: ""; }

.icon-yen:before {
  content: ""; }

.icon-line-home:before {
  content: ""; }

.icon-line-star:before {
  content: ""; }

.icon-line-profile:before {
  content: ""; }

.icon-circle:before {
  content: ""; }

.icon-dot:before {
  content: ""; }

.icon-gift:before {
  content: ""; }

.icon-crown:before {
  content: ""; }

.icon-logo:before {
  content: ""; }

.icon-cart:before {
  content: ""; }

.icon-feedback:before {
  content: ""; }

.icon-history:before {
  content: ""; }

.icon-mobile:before {
  content: ""; }

.icon-notice:before {
  content: ""; }

.icon-order:before {
  content: ""; }

.icon-QR-code:before {
  content: ""; }

.icon-top:before {
  content: ""; }

.icon-service:before {
  content: ""; }

.icon-uniE01E:before {
  content: ""; }

.icon-uniE02E:before {
  content: ""; }

.icon-uniE03F:before {
  content: ""; }

.icon-uniE600:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-minus:before {
  content: ""; }

.icon-point:before {
  content: ""; }

.icon-uniE003:before {
  content: ""; }

.icon-uniE004:before {
  content: ""; }

.icon-uniE005:before {
  content: ""; }

.icon-uniE006:before {
  content: ""; }

.icon-uniE007:before {
  content: ""; }

.icon-uniE008:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-stars:before {
  content: ""; }

.icon-favor:before {
  content: ""; }

.icon-preference:before {
  content: ""; }

.icon-uniE01D:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-profile:before {
  content: ""; }

.icon-location:before {
  content: ""; }

.icon-setting:before {
  content: ""; }

.icon-logout:before {
  content: ""; }

.icon-uniE024:before {
  content: ""; }

.icon-uniE025:before {
  content: ""; }

.icon-undo:before {
  content: ""; }

.icon-spin:before {
  content: ""; }

.icon-uniE028:before {
  content: ""; }

.icon-uniE029:before {
  content: ""; }

.icon-uniE02A:before {
  content: ""; }

.icon-uniE02B:before {
  content: ""; }

.icon-uniE02C:before {
  content: ""; }

.icon-uniE02D:before {
  content: ""; }

.icon-arrow-left:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-arrow-down:before {
  content: ""; }

.icon-arrow-up:before {
  content: ""; }

.icon-chat-message:before {
  content: ""; }

.icon-figure:before {
  content: ""; }

.icon-uniE035:before {
  content: ""; }

.icon-email:before {
  content: ""; }

.icon-uniE037:before {
  content: ""; }

.icon-back:before {
  content: ""; }

.icon-uniE039:before {
  content: ""; }

.icon-uniE03A:before {
  content: ""; }

.icon-help:before {
  content: ""; }

.icon-uniE03C:before {
  content: ""; }

.icon-uniE03D:before {
  content: ""; }

.icon-uniE03E:before {
  content: ""; }

.icon-lock-24:before {
  content: ""; }

.icon-dot-wraning:before {
  content: ""; }

.icon-circle-help:before {
  content: ""; }

.icon-dot-error:before {
  content: ""; }

.icon-dot-check:before {
  content: ""; }

.icon-primitive-dot:before {
  content: ""; }

.icon-pin:before {
  content: ""; }

.icon-angle-double-right:before {
  content: ""; }

.icon-angle-double-left:before {
  content: ""; }

.icon-check:before {
  content: ""; }

.icon-dot-help:before {
  content: ""; }

.icon-dot-warning:before {
  content: ""; }

.icon-android:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-star-bad:before {
  content: ""; }

.icon-star-good:before {
  content: ""; }

.icon-star-nofeel:before {
  content: ""; }

.icon-star-rate:before {
  content: ""; }

.icon-trash:before {
  content: ""; }

.icon-apple:before {
  content: ""; }

.icon-order-arrivedone:before {
  content: ""; }

.icon-order-arrive:before {
  content: ""; }

.icon-order-distributiondone:before {
  content: ""; }

.icon-order-distribution:before {
  content: ""; }

.icon-order-submitdone:before {
  content: ""; }

.icon-order-submit:before {
  content: ""; }

.icon-order-paydone:before {
  content: ""; }

.icon-order-pay:before {
  content: ""; }

.icon-order-confirmdone:before {
  content: ""; }

.icon-order-confirm:before {
  content: ""; }

.icon-order-complaint:before {
  content: ""; }

.icon-order-favor:before {
  content: ""; }

.icon-404-home:before {
  content: ""; }

.icon-404-email:before {
  content: ""; }

/********************************************气泡*********************************/
.bubble {
  background: #FFFFFF;
  border: 2px solid #cccccc;
  width: 100%;
  z-index: 6;
  height: auto;
  position: relative; }

.bubble:after, .bubble:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid; }

.bubble:after {
  left: -19px;
  top: 20px;
  border-color: transparent #FFFFFF transparent transparent; }

.bubble:before {
  left: -20px;
  top: 20px;
  border-color: transparent #cccccc transparent transparent; }

.activity {
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  text-align: center;
  width: 18px;
  border-radius: 2px;
  margin-right: 3px;
  padding: 1px;
  background-color: #F63; }

.topbar-nav {
  float: right;
  width: 504px;
  height: 60px;
  color: #d2e7f9; }

.topbar-nav-link {
  line-height: 60px;
  padding: 0 10px;
  width: 106px;
  color: #a5d0f3;
  position: relative;
  cursor: pointer; }

.topbar-nav-link:hover {
  color: #ffffff; }

.topbar-profilebox {
  color: #fff;
  line-height: 60px; }
  .topbar-profilebox a {
    color: #ffffff; }

.topbar-profilebox-avatar {
  font-size: 22px; }

.location {
  position: absolute; }

.location-item {
  display: inline-block;
  line-height: 54px;
  height: 54px;
  vertical-align: top;
  float: left; }

.location-item:first-child {
  color: #999; }

.location-change {
  color: #0089DC; }

.search {
  float: right;
  margin: 10px 0px;
  height: 32px;
  border: 1px solid #CCC;
  position: relative;
  z-index: 10; }

.place-search-btn:hover {
  color: #0089DC; }

.place-search-btn {
  float: right;
  width: 46px;
  border-left: 1px solid #CCC;
  text-align: center;
  color: #999;
  font-size: 20px;
  cursor: pointer; }

.page_place_takeout {
  width: 186px;
  height: 55px;
  margin-bottom: -13px;
  margin-top: -6px;
  cursor: pointer; }

.sidebar_item {
  color: #CCC;
  line-height: 16px;
  padding: 7px 8px 10px;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
  display: block;
  width: 19px;
  position: absolute;
  top: 50%;
  margin-top: -220px; }

.sidebar_item:hover {
  color: #FFF;
  background-color: #26A2FF; }

.subnav {
  border: 1px solid #E6E6E6; }

.subnav-item {
  line-height: 26px;
  padding: 10px 10px 10px 7em;
  background-color: #FFF;
  position: relative;
  text-align: left; }

.subnav-item-name {
  position: absolute;
  left: 10px;
  top: 13px;
  color: #999; }

.subnav-item-attr {
  white-space: nowrap;
  display: inline-block;
  margin: 5px 6px; }

.subnav-item-attr:hover {
  background-color: #F6F6F6;
  border-radius: 3px; }

.subnav-item-attr.focus {
  color: #FFF;
  background-color: #0089DC;
  border-radius: 3px; }

.article-place {
  line-height: 40px;
  margin-left: -1px;
  z-index: 10;
  background: #F7F7F7; }
  .article-place .article-place-left .focus {
    color: #0089DC; }
  .article-place .article-place-left-item {
    padding: 0px 10px;
    cursor: pointer;
    position: relative; }
  .article-place .article-place-left-item .place-other {
    position: relative;
    z-index: 11; }
  .article-place .article-place-left-item:hover .article-up {
    display: block; }
  .article-place .article-place-left-item:hover .place-other .icon-arrow-down {
    display: none; }
  .article-place .article-place-left-item:hover .place-other .icon-arrow-up {
    display: block; }
  .article-place .article-place-left-item .place-price {
    position: relative;
    z-index: 11; }
  .article-place .article-place-left-item:hover .place-price .icon-arrow-down {
    display: none; }
  .article-place .article-place-left-item:hover .place-price .icon-arrow-up {
    display: block; }
  .article-place .article-up a:hover {
    color: #0089DC; }
  .article-place .article-up {
    position: absolute;
    width: 97px;
    background-color: #ffffff;
    top: 0px;
    left: -3px;
    line-height: 30px;
    padding: 40px 3px 4px 14px;
    border-style: solid;
    border: 1px solid #f5f5f5;
    border-width: 0 1px 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .article-place .article-up a {
      display: block; }
  .article-place .article-place-right {
    padding: 0 10px;
    border-left: 1px solid #CCCCCC; }

.article-tip {
  margin-top: 10px;
  line-height: 40px;
  padding: 0px 10px;
  background-color: #FFFDEE;
  border: 1px solid #FFE4B9;
  text-align: left; }
  .article-tip .article-tip-content {
    line-height: 40px; }
  .article-tip .ng-binding {
    font-style: normal;
    color: #F63;
    font-size: 20px; }
  .article-tip a {
    color: #0089DC; }

.aritcle-content {
  position: relative;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  margin-top: 20px;
  background: #fff; }

.article-tip2 .article-tip2-left {
  text-align: left;
  height: 37px;
  line-height: 30px;
  padding: 0px 12px;
  margin: 5px 0px 0px -5px;
  color: #FFF;
  font-size: 16px;
  width: 600px;
  background: transparent url("../img/icon.png") no-repeat scroll 0% 0%; }
.article-tip2 .article-tip2-right {
  margin-right: 10px;
  color: #666;
  line-height: 34px; }
.article-tip2 .ng-binding {
  color: #0089DC;
  font-weight: 700; }

.stores .store {
  position: relative;
  background-color: #FFF;
  border-bottom: 1px solid #F5F5F5;
  width: 33.3333%;
  height: 140px; }
  .stores .store .store-left {
    padding: 20px;
    color: #999;
    text-align: center; }
    .stores .store .store-left .store-left-icon {
      display: block;
      width: 70px;
      height: 70px;
      margin-bottom: 10px; }
    .stores .store .store-left .store-logo-passicon {
      position: absolute;
      height: 25px;
      top: 70px;
      left: 77px;
      z-index: 1; }
  .stores .store .store-content {
    color: #999;
    padding: 20px;
    font-size: 12px; }
  .stores .store .store-title {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333; }
  .stores .store .store-starrating {
    position: relative;
    display: inline-block;
    line-height: 1em;
    color: #CCC; }
    .stores .store .store-starrating .starrating-icon {
      position: absolute;
      top: 0px;
      left: 0px;
      overflow: hidden;
      color: #FFC30C;
      white-space: nowrap; }
.stores .store:hover {
  background: #F7F7F7; }
@media (min-width: 1280px) {
  .stores .store {
    width: 25%; } }

.store:hover .store-bubble {
  display: block; }

.store-bubble {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: -100%;
  padding: 10px 8px;
  text-align: left; }

.bubblue-head {
  padding: 10px 0;
  border-bottom: 1px solid #999; }

.bubble-center {
  padding: 10px 0; }

.bubble-tab {
  background: #F7F7F7 none repeat scroll 0% 0%;
  padding: 6px 0;
  margin: 10px 0; }
  .bubble-tab span {
    border-right: 1px solid #999999;
    padding: 0 15px; }
  .bubble-tab .clearBorder {
    border-right: none; }

.icon-arrow-up {
  position: relative;
  z-index: 10; }

/*# sourceMappingURL=index.css.map */
