/**
* 闭合浮动
* @Author:caoyi
* @Doc: http://www.cnblogs.com/mofish/archive/2012/05/14/2499400.html
*/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1; /* IE6-7 触发 hasLayout */
}
.left{
  float: left;
}
.right{
  float: right;
}
.img30{
  height: 30px;
}
.none{
  display: none;
}
.font999{
  color: #999999;
}
.shadow{
//  position: fixed;
//  top: 0px;
//  margin-left: -1px;
//  width: 960px;
  border: 1px solid #E6E6E6;
  margin-top: 0px;
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.2);
}