@import "base";
@import "util";
@import "layout";
@import "eleme";


.topbar-nav {
  float: right;
  width: 504px;
  height: 60px;
  color: #d2e7f9
}
.topbar-nav-link {
  line-height: 60px;
  padding: 0 10px;
  width: 106px;
  color: #a5d0f3;
  position: relative;
  cursor: pointer
}
.topbar-nav-link:hover{
  color: #ffffff;
}
.topbar-profilebox {
  color: #fff;
  line-height: 60px;
  a{
    color: #ffffff;
  }
}
.topbar-profilebox-avatar {
  font-size: 22px;
}
.location{
  position: absolute;
}
.location-item{
  display: inline-block;
  line-height: 54px;
  height: 54px;
  vertical-align: top;
  float: left;
}
.location-item:first-child{
  color: #999;
}
.location-change{
  color: #0089DC;
}
.search{
  float: right;
  margin: 10px 0px;
  height: 32px;
  border: 1px solid #CCC;
  position: relative;
  z-index: 10;
}
.place-search-btn:hover {
  color: #0089DC;
}
.place-search-btn {
  float: right;
  width: 46px;
  border-left: 1px solid #CCC;
  text-align: center;
  color: #999;
  font-size: 20px;
  cursor: pointer;
}
.page_place_takeout{
  width: 186px;
  height: 55px;

  margin-bottom: -13px;
  margin-top: -6px;

  cursor: pointer;
}

.sidebar_item{
  color: #CCC;
  line-height: 16px;
  padding: 7px 8px 10px;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
  display: block;

  width: 19px;

  position: absolute;
  top: 50%;
  margin-top: -220px;
}
.sidebar_item:hover{
  color: #FFF;
  background-color: #26A2FF;
}
.subnav{
  border: 1px solid #E6E6E6;
}
.subnav-item{
  line-height: 26px;
  padding: 10px 10px 10px 7em;
  background-color: #FFF;
  position: relative;
  text-align: left;
}
.subnav-item-name{
  position: absolute;
  left: 10px;
  top: 13px;
  color: #999;
}
.subnav-item-attr{
  white-space: nowrap;
  display: inline-block;
  margin: 5px 6px;
}
.subnav-item-attr:hover{
  background-color: #F6F6F6;
  border-radius: 3px;
}
.subnav-item-attr.focus{
  color: #FFF;
  background-color: #0089DC;
  border-radius: 3px;
}
.article-place{
  line-height: 40px;
  margin-left: -1px;
//  margin-left: 10px;
  z-index: 10;
  background: #F7F7F7;
  .article-place-left {
    .focus{
      color: #0089DC;
    }
  }

  .article-place-left-item{
    padding: 0px 10px;
    cursor: pointer;
    position: relative;
  }
  .article-place-left-item .place-other{
    position: relative;
    z-index: 11
  }
  .article-place-left-item:hover  .article-up{
    display: block;
  }
  .article-place-left-item:hover .place-other .icon-arrow-down{
    display: none;
  }
  .article-place-left-item:hover .place-other .icon-arrow-up{
    display: block;
  }
//  .icon-arrow-down,.icon-arrow-up{
//    float: right;
//  }
  .article-place-left-item .place-price{
    position: relative;
    z-index: 11
  }
  .article-place-left-item:hover .place-price .icon-arrow-down{
    display: none;
  }
  .article-place-left-item:hover .place-price .icon-arrow-up{
    display: block;
  }
  .article-up a:hover{
    color: #0089DC;
  }
  .article-up{
    position: absolute;
    width: 97px;
    background-color:#ffffff;
    top: 0px;
    left: -3px;
    line-height: 30px;
    padding: 40px 3px 4px 14px;
    border-style: solid;
    border: 1px solid #f5f5f5;
    border-width: 0 1px 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    z-index: 1;
    a{
      display: block;
    }
  }

  .article-place-right{
    padding:0 10px ;
    border-left: 1px solid #CCCCCC;
  }
}


.article-tip{
  margin-top: 10px;
  line-height: 40px;
  padding: 0px 10px;
  background-color: #FFFDEE;
  border: 1px solid #FFE4B9;

  text-align: left;
  .article-tip-content{
    line-height: 40px;
  }
  .ng-binding{
    font-style: normal;
    color: #F63;
    font-size: 20px;
  }
  a{
    color: #0089DC;
  }
}
.aritcle-content{
  position: relative;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  margin-top: 20px;
  background: #fff
}
.article-tip2{

  .article-tip2-left{
//    display: inline;
    text-align: left;
    height: 37px;
    line-height: 30px;
    padding: 0px 12px;
    margin: 5px 0px 0px -5px;
    color: #FFF;
    font-size: 16px;
    width: 600px;

    background: transparent url("../img/icon.png") no-repeat scroll 0% 0%;
  }
  .article-tip2-right{
    margin-right: 10px;
    color: #666;
    line-height: 34px;
  }
  .ng-binding{
    color: #0089DC;
    font-weight: 700;
  }
}
.stores{
  .store{
    position: relative;
    background-color: #FFF;
    border-bottom: 1px solid #F5F5F5;
    width: 33.3333%;
    height: 140px;
    .store-left{
      padding: 20px;
      color: #999;
      text-align: center;
//      position: relative;

      .store-left-icon{
        display: block;
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
      }
      .store-logo-passicon{
        position: absolute;
        height: 25px;
        top: 70px;
        left: 77px;
        z-index: 1;
      }
    }
    .store-content{
      color: #999;
      padding: 20px;
      font-size: 12px;
    }

    .store-title{
      font-size: 16px;
      margin-bottom: 6px;
      font-weight: 600;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #333;
    }
    .store-starrating{
      position: relative;
      display: inline-block;
      line-height: 1em;
      color: #CCC;
      .starrating-icon{
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
        color: #FFC30C;
        white-space: nowrap;
      }
    }


  }
  .store:hover{
    background: #F7F7F7;
  }
  @media (min-width:1280px) {
    .store {
      width: 25%
    }
  }
}
.store:hover .store-bubble{
  display: block;
}
.store:hover .store-bubble-left{
  display: block;
}
._store-bubble{
  font-size: 12px;
  position: absolute;
  top: 0;
  padding:10px 8px ;
  text-align: left;

  background: #FFFFFF;
  border: 2px solid #cccccc;
  width: 100%;
}
.store-bubble{
   @extend ._store-bubble;
   right: -100%;
 }
.store-bubble-left{
  @extend ._store-bubble;
  left: -100%;
}
.bubblue-head{
  padding: 10px 0;
  border-bottom: 1px solid #999 ;
}
.bubble-center{
  padding: 10px 0;
}
.bubble-tab{
  background: #F7F7F7 none repeat scroll 0% 0%;
  padding: 6px 0;
  margin: 10px 0;
  span{
    border-right: 1px solid #999999 ;
    padding:0 10px;
  }
  .clearBorder{
    border-right: none;
  }
}
.icon-arrow-up{
  position: relative;
  z-index:10
}