@import "base";
@import "util";
@import "layout";
@import "eleme";


.topbar-nav {
  float: right;
  width: 504px;
  height: 60px;
  color: #d2e7f9
}
.topbar-nav-link {
  line-height: 60px;
  padding: 0 10px;
  width: 106px;
  color: #a5d0f3;
  position: relative;
  cursor: pointer
}
.topbar-nav-link:hover{
  color: #ffffff;
}
.topbar-profilebox {
  color: #fff;
  line-height: 60px;
  a{
    color: #ffffff;
  }
}
.topbar-profilebox-avatar {
  font-size: 22px;
}
.location{
  position: absolute;
}
.location-item{
  display: inline-block;
  line-height: 54px;
  height: 54px;
  vertical-align: top;
  float: left;
}
.location-item:first-child{
  color: #999;
}
.location-change{
  color: #0089DC;
}
.search{
  float: right;
  margin: 10px 0px;
  height: 32px;
  border: 1px solid #CCC;
  position: relative;
}
.place-search-btn:hover {
  color: #0089DC;
}
.place-search-btn {
  float: right;
  width: 46px;
  border-left: 1px solid #CCC;
  text-align: center;
  color: #999;
  font-size: 20px;
  cursor: pointer;
}
.page_place_takeout{
  width: 186px;
  height: 55px;

  margin-bottom: -13px;
  margin-top: -6px;

  cursor: pointer;
}

.sidebar_item{
  color: #CCC;
  line-height: 16px;
  padding: 7px 8px 10px;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
  display: block;

  width: 19px;

  position: absolute;
  top: 50%;
  margin-top: -220px;
}
.sidebar_item:hover{
  color: #FFF;
  background-color: #26A2FF;
}
.subnav{
  border: 1px solid #E6E6E6;
}
.subnav-item{
  line-height: 26px;
  padding: 10px 10px 10px 7em;
  background-color: #FFF;
  position: relative;
  text-align: left;
}
.subnav-item-name{
  position: absolute;
  left: 10px;
  top: 13px;
  color: #999;
}
.subnav-item-attr{
  white-space: nowrap;
  display: inline-block;
  margin: 5px 6px;
}
.subnav-item-attr:hover{
  background-color: #F6F6F6;
  border-radius: 3px;
}
.subnav-item-attr.focus{
  color: #FFF;
  background-color: #0089DC;
  border-radius: 3px;
}
.article-place{
  line-height: 40px;
  margin-left: 10px;
  .article-place-left-item{
    padding: 0px 10px;
  }
  .article-place-right-item{
    cursor: pointer;
  }
}
.article-tip{
  margin-top: 10px;
  line-height: 40px;
  padding: 0px 10px;
  background-color: #FFFDEE;
  border: 1px solid #FFE4B9;

  text-align: left;
  .article-tip-content{
    line-height: 40px;
  }
  .ng-binding{
    font-style: normal;
    color: #F63;
    font-size: 20px;
  }
  a{
    color: #0089DC;
  }
}